.title {
	color: #000000;
	font-size: 1.4em;
	font-weight: bold;
}

.emphasis {
	color: #000000;
	font-weight: bold;
}

.text {
	color: #7F7D89;
}

.left-content {
	float: left;
}
.right-content {
	width: 400px;
	float:right;
}
img.right-image {
	float: right;
}
img.left-image {
	float: left;
	margin-left: 30px;
}